<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Piring Bersama</title>
        {% endif %}

        <style>
            body {
                padding-bottom: 100px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Piring Bersama</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                    {% if current_user.is_anonymous %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Log In</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('donasi') }}">Donasi</a>
                        <a class="nav-item nav-link" href="{{ url_for('donasi_saya') }}">Donasi Saya</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        <footer class="footer fixed-bottom text-white text-center text-lg-start bg-primary mt-5">
            <div class="text-center p-3">
            © 2024 Copyright:
            <a class="text-white" href="{{ url_for('kelompok_kami') }}">Web Design Kelas D Kelompok 7</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>