{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center mt-3">
        <h2>Apa Itu Piring Bersama?</h2>
    </div>

    <div class="container-md mt-3">
        <p>
            Piring Bersama adalah platform berbagi makanan berbasis komunitas 
            yang menghubungkan orang-orang dengan makanan berlebih kepada mereka 
            yang membutuhkan. Dengan antarmuka yang mudah digunakan, fitur peta 
            interaktif, dan sistem notifikasi, platform ini bertujuan mengurangi 
            limbah makanan dan membantu masyarakat untuk berbagi makanan 
            secara efisien.
        </p>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <h2>Kenapa Piring Bersama?</h2>
    </div>

    <div class="container-md mt-3">
        <p>
            Piring Bersama membantu mengurangi world hunger atau permasalahan 
            kelaparan di dunia. Kami akan mendistribusikan makanan hasil donasi 
            kepada yang membutuhkan, memperkuat solidaritas komunitas.
            Dengan desain yang mudah digunakan dan fitur seperti peta interaktif 
            dan notifikasi, platform ini memudahkan akses dan berbagi makanan 
            secara efisien.
        </p>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <h2>Visi dan Misi Kami</h2>
    </div>

    <div class="container-md mt-3">
        <p>
            Visi Piring Bersama adalah menciptakan komunitas yang peduli dan 
            berkelanjutan melalui berbagi makanan, mengurangi limbah pangan, dan 
            memastikan akses makanan yang adil. Misinya adalah memfasilitasi 
            berbagi makanan dengan mudah dan aman, menghubungkan mereka yang 
            memiliki kelebihan makanan dengan yang membutuhkan, serta membangun 
            solidaritas dan kesadaran masyarakat untuk mengurangi pemborosan 
            makanan melalui platform yang mudah diakses dan digunakan oleh 
            semua kalangan.
        </p>
    </div>
{% endblock %}