{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center mt-3">
        <h2>Kelompok Kami</h2>
    </div>

    <div class="container-md mt-3">
        <p>Kelompok kami beranggotakan:</p>
        <table class="table">
            <thead>
                <tr>
                <th>Nama</th>
                <th>NIM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Reynard Ivan</td>
                    <td>00000097010</td>
                </tr>
                <tr>
                    <td>Joeyvito Gunawan</td>
                    <td>00000097370</td>
                </tr>
                <tr>
                    <td>F Adiwidya Wirawan J</td>
                    <td>00000104430</td>
                </tr>
                <tr>
                    <td>Adi Ariwibowo</td>
                    <td>00000041920</td>
                </tr>
                <tr>
                    <td>Risang Abdul Wicaksono</td>
                    <td>00000042650<br></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}